.background-container{
   background-image: url("https://vilmate.com/wp-content/uploads/2018/08/Medical_Website_Development-1.jpg");
  min-height: 100vh;
  background-size: cover;
  
}
*{
  margin: 0px;
}